<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinhua.mybatis.UserMapper">

	<insert id="addUserInfo" parameterType="com.xinhua.pojo.UserInfo">
    	insert into userinfo (idNumber,firstName,lastName,birthday,address,salary,tel,mail) values(#{idNumber},#{firstName},#{lastName},#{birthday},#{address},#{salary},#{tel},#{mail})
	</insert>
	
	<select id="getUserInfoById" resultType="com.xinhua.pojo.UserInfo" parameterType="java.lang.String">
        select * from userinfo where idNumber =#{idNumber}
    </select>
	
	<insert id="generateAccountNumber" parameterType="com.xinhua.pojo.AccountInfo">
    	insert into accountInfo (accountNumber,customerNumber) values(#{accountNumber},#{customerNumber})
	</insert>
	
	<select id="getAccountNumberForUser" parameterType="com.xinhua.pojo.UserInfo" resultType="java.lang.String">
    	select accountNumber from accountInfo where customerNumber =#{customerNumber}
	</select>
	
    <insert id="addCardInfo" parameterType="com.xinhua.pojo.CardInfo">
        insert into cardinfo values(#{cardNumber},#{accountNumber},#{productType},#{cardLogo},#{availableAmount},#{currentAmount},#{creditLimit},#{cardIndicator},#{cardEmbossName},#{cardExpireDate},#{cardBlockCode},#{cardActiveCode})
    </insert>
    
    <select id="getCardListByAccountNumber" resultType="com.xinhua.pojo.CardInfo" parameterType="java.lang.String">
        select * from cardinfo where accountNumber =#{accountNumber}
    </select>

    <select id="getUserByName" resultType="com.xinhua.pojo.User" parameterType="java.lang.String">
        select * from userpass where userName =#{userName}
    </select>
    
    <select id="getAccountNumberByCustomerID" resultType="java.lang.String" parameterType="java.lang.Long">
        select accountNumber from accountInfo where customerNumber =#{customerNumber}
    </select>
    
    <insert id="addUser" parameterType="com.xinhua.pojo.User">
    	insert into userpass (userName,password,failloginCount,status,customerNumber) values(#{userName},#{password},#{failloginCount},#{status},#{customerNumber})
	</insert>
	
    <select id="getCardInfoByUserName" resultType="com.xinhua.pojo.CardInfo" parameterType="java.lang.String">
        select * from cardinfo where userName =#{userName}
    </select>
    
    <select id="getTransactionsByCardNumber" resultType="com.xinhua.pojo.Transaction" parameterType="java.lang.String">
        select * from transactions where cardNumber =#{cardNumber}
    </select>
    
	<insert id="addTransaction" parameterType="com.xinhua.pojo.Transaction">
    	insert into transactions (transactionReferenceNumber,cardNumber,transactionCode,transactionAmount,transactionDescription,transactionDate,cycleFlag,merchantName,merchantCode) values(#{transactionReferenceNumber},#{cardNumber},#{transactionCode},#{transactionAmount},#{transactionDescription},#{transactionDate},#{cycleFlag},#{merchantName},#{merchantCode})
	</insert>
	
	<update id="activeCard" parameterType="java.lang.String">
	    update cardinfo set cardActiveCode = 'Y' where cardNumber = #{cardNumber}
	</update>
	
	<update id="cardblock" parameterType="java.lang.String">
	    update cardinfo set cardBlockCode = 'L' where cardNumber = #{cardNumber}
	</update>
   
</mapper>